.transactionHistory {
  table-layout: fixed;
  margin: 50px;
  padding: 20px;
  width: 50%;
  border-collapse: collapse;
  border: 1px solid purple;
}

.thead {
  background-color: antiquewhite;
}
.td {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  border: 1px solid rgba(199, 199, 199, 0.5);
}
